In [1]:
import lightgbm as lgb
import pandas as pd

In [4]:
data = pd.read_csv('./data/data_pre.csv')

In [9]:
test = pd.read_csv('./data/test_pre.csv')

In [8]:
def_cols = ['OrderID', 'Interval', 'ChannelID', 'Cluster', 'DeliveryType', 'prepay', 'count_edit', 'OrderCnt', 'OrderDate_weekday', 'Date_weekday']

In [7]:
cols = data.columns[data.columns.isin(test.columns)]

In [10]:
test = test[def_cols]

In [11]:
bst = lgb.Booster(model_file='model.txt')

In [12]:
pred = bst.predict(test.drop('OrderID', axis=1))

In [13]:
test['Score'] = pred

In [29]:
#df['Score'] = df['Score'].apply(lambda x: round(x, 2))

In [14]:
test['ID'] = test['OrderID'].apply(lambda x: str(x)+' ')

In [17]:
test[['ID', 'Score']].to_csv('res_.csv', index=False, encoding='windows-1251')

In [18]:
pd.read_csv('res_.csv')

                 ID     Score
0       90102211131  0.269699
1       90102211133  0.050998
2       90102216055  0.225347
3       90102216081  0.297398
4       90102216084  0.265215
...             ...       ...
202609  98359057260  0.088326
202610  98359057293  0.117402
202611  98359057392  0.096682
202612  98359057487  0.033321
202613  98359057507  0.027552

[202614 rows x 2 columns]