In [2]:
import lightgbm as lgb
import pandas as pd

In [4]:
data = pd.read_csv('./data/data_pre.csv')

In [5]:
test = pd.read_csv('./data/test_pre.csv')

In [7]:
cols = data.columns[data.columns.isin(test.columns)]

In [9]:
bst = lgb.Booster(model_file='model.txt')

In [11]:
pred = bst.predict(test.drop('OrderID', axis=1))

In [12]:
test['Score'] = pred

In [29]:
#df['Score'] = df['Score'].apply(lambda x: round(x, 2))

In [13]:
test['ID'] = test['OrderID'].apply(lambda x: str(x)+' ')

In [14]:
test[['ID', 'Score']].to_csv('res.csv', index=False, encoding='windows-1251')

In [15]:
pd.read_csv('res.csv')

                 ID     Score
0       90102211131  0.347229
1       90102211133  0.052075
2       90102216055  0.217510
3       90102216081  0.280460
4       90102216084  0.253909
...             ...       ...
202609  98359057260  0.148293
202610  98359057293  0.249684
202611  98359057392  0.260945
202612  98359057487  0.037669
202613  98359057507  0.052783

[202614 rows x 2 columns]